<!DOCTYPE html>
<html layout:decorate="~{user/index}">

<head>

    <title>Giới thiệu <span th:text="${session.companyName}"><span></title>
</head>

<body>


    <!-- Card Providers -->
    <div layout:fragment="content">


        <!-- Banner -->
        <div class="position-relative">
            <div class="profile-wid-bg profile-setting-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmMF8MEF1U2c2YUG81U23-AU-3znl0FGyr7WBOOrQfgbR_2SzvEhbW_wEZcPWpn81uc2M&usqp=CAU"
                    class="profile-wid-img" alt="">
                <div class="overlay-content">
                    <div class="text-end p-3">
                        <div class="p-0 ms-auto rounded-circle profile-photo-edit">
                            <input id="profile-foreground-img-file-input" type="file"
                                class="profile-foreground-img-file-input">
                            <label for="profile-foreground-img-file-input" class="profile-photo-edit btn btn-light">
                                <i class="ri-image-edit-line align-bottom"></i>
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="overlay-content top-50 w-100 text-center" style="transform: translateY(-50%);">
                    <h1 class="text-white-75 fs-36">Giới Thiệu Về <span th:text="${session.companyName}"><span></h1>
                    <h3 class="text-white-50" th:text="${session.description}">Địa chỉ uy tín cho thẻ nạp và sản phẩm game</h3>
                </div>
            </div>
        </div>

        <!-- Thông tin thương hiệu -->
        <section class="section">
            <div class="container fs-15">
                <h3 class="ff-secondary fw-bold">THÔNG TIN THƯƠNG HIỆU <span th:text="${session.companyName}"><span></h3>
                <p>Chào mừng bạn đến với <strong><span th:text="${session.companyName}"><span></strong>, nền tảng hàng đầu chuyên
                    cung cấp các loại thẻ nạp game uy tín và chất lượng tại <strong>Việt Nam</strong>. Chính thức hoạt
                    động từ ngày <strong>06/01/2020</strong> chúng tôi luôn tự hào đồng
                    hành cùng cộng đồng game thủ, mang đến những sản phẩm thẻ nạp tốt nhất với giá cả hợp lý và dịch vụ
                    tối
                    ưu.</p>

                <br>

                <h3 class="ff-secondary fw-bold">Sản Phẩm Cung Cấp</h3>
                <ul>
                    <li><strong>Thẻ V-coin:</strong> Sử dụng cho các tựa game của VTC.</li>
                    <li><strong>Thẻ Garena:</strong> Hỗ trợ nạp Sò cho các tựa game như Liên Quân, Liên Minh Huyền
                        Thoại,
                        Free Fire.</li>
                    <li><strong>Thẻ Zing:</strong> Dành cho các trò chơi trên nền tảng của Vinagame.</li>
                    <li><strong>Thẻ Appota:</strong> Sử dụng để nạp game mobile từ Appota Group.</li>
                    <li><strong>Thẻ Funcard:</strong> Dùng cho các tựa game trên hệ thống Funtap.</li>
                    <li><strong>Thẻ BIT:</strong> Hỗ trợ nạp nhiều game online phổ biến tại Việt Nam.</li>
                    <li><strong>Thẻ Gate:</strong> Sử dụng cho các trò chơi trên nền tảng của FPT.</li>
                </ul>

                <br>

                <!-- Sứ mệnh và tầm nhìn -->
                <h3 class="ff-secondary fw-bold">Sứ Mệnh Và Tầm Nhìn</h3>

                <p class="mb-1">
                    <strong>Sứ mệnh:</strong> 
                    <span th:text="${session.companyName}"></span> mong muốn trở thành cầu nối vững chắc giữa các game thủ và thế giới game, cung cấp mọi thứ họ cần để thỏa mãn đam mê.
                </p>
                <p>
                    <strong>Tầm nhìn:</strong> 
                    Đến năm 2025, <span th:text="${session.companyName}"></span> đặt mục tiêu trở thành nền tảng cung cấp thẻ game và phụ kiện công nghệ lớn nhất Đông Nam Á.
                </p>
                <br>

                <!--  Lý do nên chọn <span th:text="${session.companyName}"><span>   -->
                <h3 class="ff-secondary fw-bold">Dịch vụ chăm sóc khách hàng vượt trội:</h3>
                <ol>
                    <li><strong>Hệ thống tự động:</strong> Nhận thẻ ngay sau khi thanh toán chỉ trong 30 giây.</li>
                    <li><strong>Đa dạng lựa chọn:</strong> Tất cả các loại thẻ game phổ biến đều có sẵn.</li>
                    <li><strong>An toàn và bảo mật:</strong> Đảm bảo thông tin giao dịch và tài khoản của bạn luôn được
                        bảo
                        vệ.</li>
                    <li><strong>Ưu đãi đặc biệt:</strong> Giảm giá khi mua số lượng lớn hoặc trong các dịp khuyến mãi.
                    </li>
                </ol>
            </div>
        </section>
    </div>

    <script layout:fragment="js">

    </script>

</body>

</html>