<!DOCTYPE html>
<html layout:decorate="~{user/index}">

<head>

    <title>Hướng dẫn GameCard</title>
</head>

<body>


    <!-- Card Providers -->
    <div layout:fragment="content">
        <section class="section">
            <div class="container fs-15">
                <!-- Bước 1: Truy cập trang web -->
                <h3 class="ff-secondary fw-bold">Bước 1: Truy cập trang web</h3>
                <p>
                    Truy cập vào <strong>trang chủ chính thức</strong> để bắt đầu mua thẻ.
                    <a href="#">https://gamecard.vn</a>
                </p>
    
                <br>
    
                <!-- Bước 2: Chọn nhà cung cấp thẻ -->
                <h3 class="ff-secondary fw-bold">Bước 2: Chọn nhà cung cấp thẻ</h3>
                <p>Tại giao diện trang chủ, di chuyển đến mục <strong>"Chọn nhà cung cấp"</strong>. Sau đó, lựa chọn nhà
                    cung cấp mong muốn.
                </p>
                <div class="border-primary rounded border mb-3">
                    <img src="/assets/images/guide/guide-b1.png" class="rounded w-100 img-fluid"
                        alt="Responsive image">
                </div>
    
    
                <br>
    
    
                <!-- Bước 3: Lựa chọn mệnh giá và số lượng thẻ -->
                <h3 class="ff-secondary fw-bold">Bước 3: Lựa chọn mệnh giá và số lượng thẻ</h3>
    
                <ul>
                    <li>Tại mục <strong>"Chọn mệnh giá"</strong>, nhấp vào mệnh giá mong muốn..</li>
                    <li>Chọn <strong>số lượng</strong> thẻ bạn cần mua.</li>
                </ul>
    
                <div class="border-primary rounded border mb-3">
                    <img src="/assets/images/guide/guide-b2.png" class="rounded w-100 img-fluid"
                        alt="Responsive image">
                </div>
    
    
                <br>
    
    
                <!-- Bước 4: Nhập email nhận mã thẻ -->
                <h3 class="ff-secondary fw-bold">Bước 4: Nhập email nhận mã thẻ</h3>
                <p>Hãy chắc chắn rằng <strong>email</strong> bạn nhập là <strong>chính xác</strong> để đảm bảo nhận được mã
                    thẻ ngay sau khi thanh toán.</p>
    
                <div class="border-primary rounded border mb-3">
                    <img src="/assets/images/guide/guide-b3.png" class="rounded w-100 img-fluid"
                        alt="Responsive image">
                </div>
    
    
                <br>
    
    
                <!-- Bước 5: Kiểm tra thông tin giao dịch và tiến hành thanh toán. -->
                <h3 class="ff-secondary fw-bold">Bước 5: Kiểm tra thông tin giao dịch và tiến hành thanh toán.</h3>
                <ul>
                    <li>Kiểm tra lại toàn bộ <strong>thông tin giao dịch</strong>: Nhà cung cấp, Mệnh giá, Số lượng, Tổng
                        tiền và Email.</li>
                    <li>Chọn <strong>phương thức thanh toán</strong> mà bạn muốn (MoMo, ZaloPay, chuyển khoản ngân hàng...).
                    </li>
                </ul>
    
    
                <br>
                <hr>
                <br>
    
    
                <!-- Lưu ý quan trọng: -->
                <h3 class="ff-secondary fw-bold text-uppercase">Lưu ý quan trọng:</h3>
                <ol>
                    <li>Tổng số tiền cuối cùng đã bao gồm mọi <strong>khuyến mãi và chiết khấu.</strong></li>
                    <li>Mã thẻ sẽ được gửi về email của bạn <strong>ngay sau khi</strong> thanh toán thành công.</li>
                    <li>Nếu có vấn đề khi nhận thẻ, vui lòng liên hệ ngay với bộ phận hỗ trợ.</li>
                </ol>
    
            </div>
        </section>
    

    </div>

    <script layout:fragment="js">
          
    </script>

</body>

</html>