<!DOCTYPE html>
<html layout:decorate="~{user/index}">

<head>

    <title>Điều khoản GameCard</title>
</head>

<body>


    <!-- Card Providers -->
    <div layout:fragment="content">
      
          <!-- Chính sách hoạt động và quy định chung -->
    <section class="section">
        <div class="container fs-15">
            <h3 class="ff-secondary fw-bold ">CHÍNH SÁCH HOẠT ĐỘNG VÀ QUY ĐỊNH CHUNG</h3>
            <p>Khi truy cập và sử dụng website này, bạn <strong>đã đồng ý</strong> với các <strong>điều khoản và điều
                    kiện</strong> được nêu ra dưới đây. Vui lòng đọc kỹ các thông
                tin trước khi sử dụng.</p>

            <br>


            <h3 class="ff-secondary fw-bold">I. Điều Khoản Chung</h3>
            <p><strong>Chấp thuận các Điều kiện Sử dụng:</strong> Khi sử dụng Website Game Card, bạn đã đồng ý với các
                điều khoản và điều kiện sử dụng được quy định dưới đây. Chúng tôi có quyền thay đổi, chỉnh sửa, hoặc
                thêm bớt các điều khoản này vào bất kỳ thời điểm nào. Nếu bạn tiếp tục sử dụng website sau khi có sự
                thay đổi, có nghĩa là bạn đã chấp nhận các thay đổi đó.</p>

            <p><strong>Tính chất của thông tin hiển thị:</strong> Các nội dung trên website này cung cấp thông tin về
                các game, thẻ game và các sản phẩm liên quan, bao gồm các chương trình khuyến mãi và sản phẩm mới từ
                Game Card.</p>

            <p><strong>Miễn trừ trách nhiệm:</strong> Game Card không đảm bảo tính chính xác và đầy đủ của các thông tin
                hiển thị trên website, và chúng tôi không chịu trách nhiệm về bất kỳ thiệt hại nào phát sinh từ việc sử
                dụng các thông tin này.</p>

            <p><strong>Quyền sở hữu trí tuệ:</strong> Tất cả các nội dung, thiết kế và tính năng trên website này thuộc
                quyền sở hữu của Công Ty Cổ Phần Game Card. Mọi sử dụng nội dung này phải tuân thủ các điều kiện sau:
            </p>
            <ul>
                <li>Chỉ sử dụng cho mục đích cá nhân và phi thương mại.</li>
                <li>Các sao chép hoặc trích dẫn phải giữ nguyên các dấu hiệu bản quyền.</li>
                <li>Không sử dụng nội dung trên website cho mục đích thương mại mà không có sự đồng ý của Game Card.
                </li>
            </ul>

            <br>

            <h3 class="ff-secondary fw-bold">II. Tiêu Chuẩn Dịch Vụ và Điều Kiện Sử Dụng Hệ Thống Đặt Hàng Trực Tuyến</h3>
            <p><strong>Phạm vi áp dụng:</strong> Điều kiện này áp dụng cho chức năng đặt hàng trực tuyến tại Game Card.
                Khi sử dụng chức năng đặt hàng, bạn đồng ý với các chỉ dẫn, điều khoản và điều kiện mà chúng tôi đăng
                tải trên website.</p>

            <p><strong>Điều kiện sử dụng tính năng đặt hàng trực tuyến:</strong> Tính năng này chỉ sử dụng cho mục đích
                cá nhân và phi thương mại. Bạn không được phép sửa đổi, sao chép, hoặc phổ biến thông tin sản phẩm từ
                tính năng mua hàng trực tuyến mà không có sự đồng ý của Game Card.</p>

            <p><strong>Quy định giá và các khoản phí:</strong> Tổng số tiền thanh toán sẽ bao gồm các khoản thuế, phí
                theo quy định của pháp luật. Game Card không chịu trách nhiệm đối với các khoản phí phát sinh từ chính
                sách của ngân hàng phát hành thẻ khi thanh toán qua ngân hàng.</p>

                <br>

            <h3 class="ff-secondary fw-bold">III. Các Quy Định Khác</h3>
            <p>Game Card cam kết cung cấp các sản phẩm hợp pháp, tuân thủ các quy định pháp luật Việt Nam. Tất cả các
                sản phẩm trên website đều đáp ứng tiêu chuẩn pháp lý và có giấy phép kinh doanh hợp lệ.</p>

            <p><strong>Nghiêm cấm sử dụng:</strong> Bạn không được phép sử dụng website này để thực hiện các hành động
                trái pháp luật, bao gồm nhưng không giới hạn việc sử dụng thông tin giả mạo hay lạm dụng tính năng đặt
                hàng trực tuyến.</p>

                <br>

            <h3 class="ff-secondary fw-bold">IV. Luật Điều Chỉnh và Cơ Quan Giải Quyết Tranh Chấp</h3>
            <p>Điều kiện sử dụng này sẽ được điều chỉnh theo pháp luật Việt Nam. Tòa án Việt Nam có thẩm quyền giải
                quyết mọi tranh chấp phát sinh từ việc sử dụng website.</p>

        </div>
    </section>

    </div>

    <script layout:fragment="js">
          
    </script>

</body>

</html>