<!DOCTYPE html>
<html layout:decorate="user/index">

<head>

    <title>Shop thẻ game</title>
</head>

<body>


    <!-- Card Providers -->
    <div layout:fragment="content">
        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card ">
                        <div class="card-header">
                            <div class="d-flex gap-3">
                                <img class="rounded-circle avatar-md border border-secondary border-5" alt="200x200"
                                    src="assets/images/users/user-dummy-img.jpg">
    
                                <div class="d-flex flex-column justify-content-center">
                                    <h3 th:text="${user.profile.name}">
                                        Bùi Thị Mỹ Linh
                                        <i class="toggle-items toggle-Button las la-edit ms-2"></i>
                                    </h3>
    
                                    <h5 th:text="${user.role}">User</h5>
                                </div>
                            </div>
    
                            <hr>
    
                            <div class="table-responsive">
                                <table class="table table-borderless mb-0">
                                    <tbody>
                                        <tr>
                                            <th class="ps-0" scope="row">Name :</th>
                                            <td class="text-muted" th:text="${user.profile.name}">Bùi Thị Mỹ Linh</td>
                                        </tr>
                                        <tr>
                                            <th class="ps-0" scope="row">Gender :</th>
                                            <td class="text-muted" th:text="${user.profile.gender ?: 'Trống'}">Nam</td>
                                        </tr>
                                        <tr>
                                            <th class="ps-0" scope="row">Mobile :</th>
                                            <td class="text-muted" th:text="${user.profile.phone ?: 'Trống'}">+(1) 987 6543</td>
                                        </tr>
                                        <tr>
                                            <th class="ps-0" scope="row">E-mail :</th>
                                            <td class="text-muted" th:text="${user.email}">daveadame@velzon.com</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
    
                            <hr>
    
                            <button type="submit" class="btn btn-danger float-end">Đăng xuất</button>
    
                        </div>
                    </div>
                </div>
    
                <!-- Lịch sử mua hàng -->
                <div class="col-md-8 toggle-items" id="history">
                    <div class="card ">
                        <div class="card-header">
                            <h4 class="mb-0">Lịch sử</h4>
    
                        </div>
    
                        <!-- Table -->
                        <table class="table table-nowrap align-middle">
                            <thead class="table-primary">
                                <tr>
                                    <th scope="col" class="text-center" style="width: 7%;">Id</th>
                                    <th scope="col" style="width: 33%;">Nhà phát hành</th>
                                    <th scope="col" style="width: 20%;">Ngày</th>
                                    <th scope="col" style="width: 20%;">Trạng thái</th>
                                    <th scope="col" style="width: 20%;" class="text-end pe-3">Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" class="text-center">1</th>
                                    <!-- Nhà phát hành + nút thông tin -->
                                    <td>
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <span class="text-wrap"> Garena</span>
    
                                            <i class="ri-eye-line px-3 cursor-pointer" data-bs-toggle="modal"
                                                data-bs-target="#modal-detail"></i>
                                        </div>
                                    </td>
                                    <td>10/02/2022</td>
                                    <td><span class="badge text-bg-primary fs-13 fw-normal">Tạm giữ</span></td>
                                    <td class="text-end pe-3">50.000 đ</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">2</th>
                                    <!-- Nhà phát hành + nút thông tin -->
                                    <td>
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <span class="text-wrap"> Viettel</span>
    
                                            <i class="ri-eye-line px-3 cursor-pointer" data-bs-toggle="modal"
                                                data-bs-target="#modal-detail"></i>
                                        </div>
                                    </td>
                                    <td>13/05/2021</td>
                                    <td><span class="badge text-bg-success fs-13 fw-normal">Thành công</span></td>
                                    <td class="text-end pe-3">20.000 đ</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">3</th>
                                    <!-- Nhà phát hành + nút thông tin -->
                                    <td>
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <span class="text-wrap"> Zing</span>
    
                                            <i class="ri-eye-line px-3 cursor-pointer" data-bs-toggle="modal"
                                                data-bs-target="#modal-detail"></i>
                                        </div>
                                    </td>
                                    <td>17/05/2021</td>
                                    <td><span class="badge text-bg-success fs-13 fw-normal">Thành công</span></td>
                                    <td class="text-end pe-3">120.000 đ</td>
                                </tr>
                            </tbody>
                            <tfoot class="table-primary">
                                <tr>
                                    <th colspan="4" class="ps-3">Tổng chi</th>
                                    <th class="text-end pe-3">200.000 đ</th>
                                </tr>
                            </tfoot>
                        </table>
                        <!-- /Table -->
                    </div>
                </div>
    
    
    
                <!-- Cập nhật thông tin tài khoản -->
                <div class="col-md-8 toggle-items d-none" id="setting">
                    <div class="card ">
                        <div class="card-header">
                            <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#userInfo" role="tab">
                                        <i class="fas fa-home"></i> Thông tin người dùng
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#changePassword" role="tab">
                                        <i class="far fa-user"></i> Đổi mật khẩu
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body p-4">
                            <div class="tab-content">
                                <div class="tab-pane active" id="userInfo" role="tabpanel">
                                    <form action="javascript:void(0);">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="userName" class="form-label">Name</label>
                                                    <input type="text" class="form-control" id="userName"
                                                        placeholder="Enter your firstname" value="Trần Như Nhộng">
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="lastnameInput" class="form-label">Gender</label>
                                                    <select class="form-select mb-3" id="lastnameInput"
                                                        aria-label="Default select example">
                                                        <option value="1" selected>Nam</option>
                                                        <option value="2">Nữ</option>
                                                    </select>
    
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="phonenumberInput" class="form-label">Phone</label>
                                                    <input type="text" class="form-control" id="phonenumberInput"
                                                        placeholder="Enter your phone number" value="+(1) 987 6543">
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="emailInput" class="form-label">Email</label>
                                                    <input type="email" class="form-control" id="emailInput"
                                                        placeholder="Enter your email" value="daveadame@velzon.com">
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-12">
                                                <div class="hstack gap-2 justify-content-end">
                                                    <button type="submit" class="toggle-Button btn btn-primary">Cập
                                                        nhật</button>
                                                    <button type="button"
                                                        class="toggle-Button btn btn-soft-success">Hủy</button>
                                                </div>
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </form>
                                </div>
                                <!--end tab-pane-->
    
                                <div class="tab-pane" id="changePassword" role="tabpanel">
                                    <form action="javascript:void(0);">
                                        <div class="row g-2">
                                            <div class="col-lg-4">
                                                <div>
                                                    <label for="oldpasswordInput" class="form-label">
                                                        Mật khẩu cũ
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input type="password" class="form-control" id="oldpasswordInput"
                                                        placeholder="Enter current password">
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-4">
                                                <div>
                                                    <label for="newpasswordInput" class="form-label">
                                                        Mật khẩu mới
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input type="password" class="form-control" id="newpasswordInput"
                                                        placeholder="Enter new password">
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-4">
                                                <div>
                                                    <label for="confirmpasswordInput" class="form-label">
                                                        Xác nhận mật khẩu
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input type="password" class="form-control" id="confirmpasswordInput"
                                                        placeholder="Confirm password">
                                                </div>
                                            </div>
    
                                            <!--end col-->
                                            <div class="col-lg-12">
                                                <div class="text-end mt-2">
                                                    <button type="submit" class="btn btn-success">
                                                        Đổi mật khẩu
                                                    </button>
                                                </div>
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </form>
                                </div>
                                <!--end tab-pane-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
    
            <!-- Default Modals -->
    
            <div id="modal-detail" class="modal modal-lg fade" tabindex="-1" aria-labelledby="modal-detailLabel"
                aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header py-0 border-bottom border-2">
                            <h5 class="modal-title fw-semibold" id="modal-detailLabel">Mã đơn #1</h5>
                            <div class=" border-start py-3 ps-2 pe-0 border-2 cursor-pointer" data-bs-dismiss="modal">
                                <button type="button" class="btn-close" aria-label="Close">
                                </button>
    
                            </div>
                        </div>
                        <div class="modal-body">
    
    
                            <!-- Thông tin nhận hàng -->
                            <div class="row g-3 fs-14">
                                <div class="col-3">
                                    <div class="mb-3">
                                        <label class="form-label fs-15 fw-semibold">Người nhận</label>
                                        <input type="text" class="form-control fs-14" value="Bùi Thị Mỹ Linh" disabled>
                                    </div>
                                </div>
    
                                <div class="col-4">
                                    <div class="mb-3">
                                        <label class="form-label fs-15 fw-semibold">E-mail nhận hàng</label>
                                        <input type="text" class="form-control fs-14" value="lehoanglonggtzt@gmail.com"
                                            disabled>
                                    </div>
                                </div>
    
                                <div class="col-5">
                                    <div class="row g-3">
                                        <div class="col-7">
                                            <div class="mb-3">
                                                <label class="form-label fs-15 fw-semibold">Ngày thanh toán</label>
                                                <input type="text" class="form-control fs-14" value="21/02/2023 - 21:20"
                                                    disabled>
                                            </div>
                                        </div>
    
    
    
                                        <div class="col-5">
                                            <div class="mb-3">
                                                <label class="form-label fs-15 fw-semibold">Trạng thái</label>
                                                <input type="text" class="form-control fs-14" value="Hoàn thành" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <hr>
    
                            <!-- Table -->
                            <table class="table table-nowrap align-middle">
                                <thead>
                                    <tr>
                                        <th scope="col">Nhà phát hành</th>
                                        <th scope="col">Mã nạp</th>
                                        <th scope="col" class="text-end pe-3">Đơn giá</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Garena</td>
                                        <td>113925613733732</td>
                                        <td class="text-end pe-3">50.000 đ</td>
                                    </tr>
                                </tbody>
                                <tfoot class="table-primary">
                                    <tr>
                                        <th colspan="2" class="ps-2"></th>
                                        <th class="text-end pe-3">200.000 đ</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <!-- /Table -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        </div>
    
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>

    <script layout:fragment="js">
           function toggleSections() {
            $('.toggle-items').toggleClass('d-none');   // Các thẻ có Class toggle-items sẽ ẩn-hiện
        }

        $('.toggle-Button').click(function () {          // Các thẻ có Class toggle-Button sẽ kích hoạt phương thức
            toggleSections();
        });
    </script>

</body>

</html>